
@font-face {
    font-family: cocogose;
    src: url(fuentes/Cocogoose-Pro-Bold-trial.ttf);
}

@font-face {
    font-family: altone;
    src: url(fuentes/AltoneTrial-Regular.ttf);
}

@font-face {
    font-family: altonebold;
    src: url(fuentes/AltoneTrial-Bold.ttf);
}

body {
    background-color: rgb(250, 250, 250);
}

#jony-foto{
    width: 15%;
    height: 100%;
    display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    
}

#nav-bar {
    margin: 2%;
}
h1, h2{
    text-align: center;
    color: rgb(49, 49, 49);
}

h1{
    font-family: altonebold;
}

h2 {
    font-family: altone;
    margin-top: 2%;
    color: #204471;
}

#boton-say-hello {
    color: #204471;
    font-size: 100%;
    border-color: #204471;
    border-style:dashed;
    font-family: altonebold;
transition: all 1s ease;
  position: relative;
}



#boton-say-hello:hover {
    background-color: #204471;
    color: white;
}

.seccion1 {
    text-align: center; /* Centra el texto horizontalmente */
    height: 20%;
    padding: 2%;
}

/* ... Tus estilos CSS existentes ... */

.seccion1 {
    text-align: center;
    opacity: 0;
    animation: aparecer 1s ease-out forwards; /* 1 segundo de duración, ease-out para una salida suave */
}



.h1-animado {
    margin-top: -50px; /* Mover hacia arriba */
    opacity: 0;
    animation: aparecerDesdeArriba 1s ease-out forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecerDesdeArriba {
    from {
        margin-top: -50px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}





.seccion2{
    width:100%;
    height: 50%;
    margin-top: 4%;
    background-color: #204471;
}

h6{
    color: white;
    font-size: 200%;
    font-family: altonebold;
    text-align: center;
    padding: 2%;
    font-size: 220%;
}


h5 {
    font-family: altonebold;
}
.descripcion {
    text-align: center;
    color: aliceblue;
    font-family: altone;
    margin-top: 2%;
    font-size: 120%;
}

.div-dentro-seccion2 {
    padding: 4%;
}

.div-dentro-seccion1 {
    margin: 2%;
}

#cartas-div {
    margin-top: -2%;
    padding: 2%;
}

.image-container {
    display: flex;
  }



.card {
    border:#ffbd68 2px solid; 
    max-width: 100%; 
    margin: 0;

     
}

#cartas-div.row {
    max-width: 100%;
    justify-content: center;
}



.carta-animada {
    opacity: 0;
    transform: translateY(-20px); /* Comienza desde arriba */
    transition: opacity 1s, transform 1s; /* Transición más lenta (1 segundo) */
}

.carta-animada.mostrar {
    opacity: 1;
    transform: translateY(0);
}


.titulo-seccion2{
    color: rgb(49, 49, 49);    
    margin-top: 5%;
    max-width: 100%;
    font-size: 200%;
}



h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.carta-experiencia {
    margin: 2%;
    text-align: justify;
    color: #204471;
    border:#ffbd68 solid 2px;
    background-color: rgba(230, 225, 217, 0.2); /* 32, 68, 113 son los valores RGB del color y 0.2 es el nivel de opacidad */
}


#contienecarta {
    max-width: 100%;
    margin: 0;
}
#botones {
    background-color: #204471;
    color: white;
    font-family: altone;
}

#botones:hover {
    background-color: white;
    color: #204471;
}


.carta-experiencia {
    opacity: 0;
    transform: translateY(-20px); /* Comienza desde arriba */
    transition: opacity 1s, transform 1s; /* Transición más lenta (1 segundo) */
}

.carta-experiencia.mostrar {
    opacity: 1;
    transform: translateY(0);
}

#cartas-experiencias-contenedor  {
    max-width: 100%;
    margin: 0;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 2%;
    padding-bottom: 8%;

    
}

#carta1 , #carta2 {
    text-align: center;
}

#cartas-div {
    padding-left: 12%;
    padding-right: 12%;
}

.card-header {
    font-style: oblique;
} 

.logos-de-empresas {
    max-width: 100%;
    text-align: center;
}

.logoexperiencia1, .logoexperiencia2, .logoexperiencia3 {
    width: 20%;

}

.logo-ort , .logo-uba {
    width: 15%;
}

#titulo-seccion4 {
    padding: 2%;
    color:rgb(49, 49, 49);
    text-shadow: 2px 10px 4px rgb(243, 243, 243);
    opacity: 100;
    font-family: altonebold;
    margin-top: 4%;

    
}

.marquee-container {
    width: 100%;
    background-color:rgba(196, 196, 196, 0.274);
    color:#204471;
    overflow: hidden;  /* Oculta la barra de desplazamiento */
}

.skills-list {
    display: flex;
    font-family: altone;
    font-size: 150%;
    padding: 2%;
    animation: marquee 50s linear infinite;
}

.marquee-container2 {
    background-color:#204471;
    color: white;
    margin-top: 4%;

}
.skills-list li {
    padding: 0 20px;
    white-space: nowrap;
    list-style: none; /* Elimina los puntos de la lista */

}

.habilidades-lista{
    padding-left: 20%;
}

.span-titulo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150%;
}

span{
    color: #ffbd68;
}


.skills-lista2 {
    margin-bottom: 10px;
    position: relative;
    list-style: none;
    font-family: altone;
    font-size: 130%;
  }

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}



@media only screen and (max-width: 3000px)  and (min-width:950px) {
    #nav-bar {
        margin: 2%;
        padding-right: 15%;
    }
    
}

@media only screen and (max-width: 730px) and (min-width: 425px){

    .seccion1{
        padding: 5%;
    }
    #cartas-div {
        margin-top: -4%;
        padding: 2%;
        font-size: 90%;
    }
    #jony-foto{
        width: 35%;
        height: 100%;
        display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    h1 , h2 {
        margin-top: 1%;
        font-size: 180%;
    }

    #contenedor-iconos {
        display: none;
       
    }
    
    .logos-de-empresas {
display: none;
}
#carta1 , #carta2 {
    text-align: center;
}

#cartas-div {
    padding-left: 12%;
    padding-right: 6%;
}
p.descripcion {
    font-size: 100%;
}

h6 {
    font-size: 160%;
}



}

@media only screen and (max-width: 430px) and (min-width: 415px){

    .seccion1{
        padding: 5%;
    }

    #jony-foto{
        width: 35%;
        height: 100%;
        display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    h1 , h2 {
        margin-top: 30px;
        font-size: 180%;
    }

    #contenedor-iconos {
        display: none;
       
    }
    .logos-de-empresas {
display: none;
}


h6 {
    font-size: 160%;
}

}

@media only screen and (max-width: 500px) and (min-width: 300px){


.marquee-container {
    font-size: 80%;
}

.skills-lista2 {
    margin-right: 15%;

}
.titulo-seccion2{
    font-size: 150%;

}
.descripcion {
    padding: 4%;
}
#carta1 , #carta2 {
    text-align: center;
}

#cartas-div {
    padding-left: 12%;
    padding-right: 6%;
}
p.descripcion {
    font-size: 100%;
}
}

@media only screen and (max-width: 415px) and (min-width: 300px){

    .seccion1{
        padding: 5%;
    }


    #jony-foto{
        width: 45%;
        height: 100%;
        display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    h1 , h2 {
        margin-top: 30px;
        font-size: 140%;
    }

    #contenedor-iconos {
        display: none;
       
    }
    
    p.descripcion {
        font-size: 100%;
    }
    
    h6 {
        font-size: 160%;
    }


    .logos-de-empresas {
        display: none;

}

.marquee-container {
    font-size: 80%;
}

.skills-lista2 {
    margin-right: 15%;

}

.titulo-seccion2{
    font-size: 130%;
    margin: 10%;
}


#carta1 , #carta2 {
    text-align: center;
}

#cartas-div {
    padding-left: 12%;
    padding-right: 5%;
}
p.descripcion {
    font-size: 100%;
}

}


