
@font-face {
    font-family: cocogose;
    src: url(fuentes/Cocogoose-Pro-Bold-trial.ttf);
}

@font-face {
    font-family: altone;
    src: url(fuentes/AltoneTrial-Regular.ttf);
}

@font-face {
    font-family: altonebold;
    src: url(fuentes/AltoneTrial-Bold.ttf);
}

body {
    background-color: rgb(250, 250, 250);
}

#jony-foto{
    width: 15%;
    height: 100%;
    display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
}
#nav-bar {
    margin: 2%;
}
h1, h2{
    text-align: center;
    color: rgb(49, 49, 49);
}

h1{
    font-family: altonebold;
}

h2 {
    font-family: altone;
    margin-top: 2%;
    color: #204471;
}

#boton-say-hello {
    color: #204471;
    font-size: 100%;
    border-color: #204471;
    border-style:dashed;
    font-family: altonebold;


}

#boton-say-hello:hover {
    background-color: #204471;
    color: white;
}

.seccion1 {
    text-align: center; /* Centra el texto horizontalmente */
    height: 20%;
    padding: 2%;
}

/* ... Tus estilos CSS existentes ... */

.seccion1 {
    text-align: center;
    opacity: 0;
    animation: aparecer 1s ease-out forwards; /* 1 segundo de duración, ease-out para una salida suave */
}



.h1-animado {
    margin-top: -50px; /* Mover hacia arriba */
    opacity: 0;
    animation: aparecerDesdeArriba 1s ease-out forwards;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes aparecerDesdeArriba {
    from {
        margin-top: -50px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}





.seccion2{
    width:100%;
    height: 50%;
    margin-top: 80px;
    background-color: #204471;
}

h6{
    color: white;
    font-size: 200%;
    font-family: altonebold;
    text-align: center;
    padding: 10px;
    font-size: 220%;
}


h5 {
    font-family: altonebold;
}
.descripcion {
    text-align: center;
    color: aliceblue;
    font-family: altone;
    margin-top: 40px;
    font-size: 120%;
}

.div-dentro-seccion2 {
    padding: 80px;
}

.div-dentro-seccion1 {
    margin: 4px;
}

#cartas-div {
    margin-top: -50px;
    padding: 60px;
}

.image-container {
    display: flex;
  }



.card {
    border: 5px #ffbd68;
    border-style:dashed;
    max-width: 100%; 
    margin: 0;

     
}

#cartas-div.row {
    max-width: 100%;
    justify-content: center;
}



.carta-animada {
    opacity: 0;
    transform: translateY(-20px); /* Comienza desde arriba */
    transition: opacity 1s, transform 1s; /* Transición más lenta (1 segundo) */
}

.carta-animada.mostrar {
    opacity: 1;
    transform: translateY(0);
}


.titulo-seccion2{
    color: #204471;
    margin-top: 5%;
    max-width: 100%;
}



h4 {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
}

.carta-experiencia {
    margin: 2%;
    text-align: justify;
    color: #204471;
    border: #ffbd68 solid 2px;
    background-color: rgba(247, 194, 114, 0.2); /* 32, 68, 113 son los valores RGB del color y 0.2 es el nivel de opacidad */
}


#contienecarta {
    max-width: 100%;
    margin: 0;
}
#botones {
    background-color: #204471;
    color: white;
    font-family: altone;
}

#botones:hover {
    background-color: white;
    color: #204471;
}


.carta-experiencia {
    opacity: 0;
    transform: translateY(-20px); /* Comienza desde arriba */
    transition: opacity 1s, transform 1s; /* Transición más lenta (1 segundo) */
}

.carta-experiencia.mostrar {
    opacity: 1;
    transform: translateY(0);
}

#cartas-experiencias-contenedor  {
    max-width: 100%;
    margin: 0;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    margin-top: 2%;
    
}

#cartas-div {
    padding-left: 12%;
    padding-right: 12%;
}


@media only screen and (max-width: 730px) and (min-width: 425px){
    .seccion1{
        padding: 5%;
    }
    #cartas-div {
        margin-top: -50px;
        padding: 40px;
        font-size: 90%;
    }
    #jony-foto{
        width: 35%;
        height: 100%;
        display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    h1 , h2 {
        margin-top: 30px;
        font-size: 180%;
    }

    #contenedor-iconos {
        display: none;
       
    }
    


}

@media only screen and (max-width: 425px) and (min-width: 415px){
    .seccion1{
        padding: 5%;
    }

    #jony-foto{
        width: 35%;
        height: 100%;
        display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    h1 , h2 {
        margin-top: 30px;
        font-size: 180%;
    }

    #contenedor-iconos {
        display: none;
       
    }
    


    

}


@media only screen and (max-width: 415px) and (min-width: 300px){
    .seccion1{
        padding: 5%;
    }


    #jony-foto{
        width: 45%;
        height: 100%;
        display: block; /* Asegura que la imagen se comporte como un bloque para aplicar márgenes automáticamente */
        margin-left: auto;
        margin-right: auto;
        margin-top: 10%;
    }
    h1 , h2 {
        margin-top: 30px;
        font-size: 140%;
    }

    #contenedor-iconos {
        display: none;
       
    }
    
    p.descripcion {
        font-size: 100%;
    }
    
    h6 {
        font-size: 160%;
    }


    

}


